@model IEnumerable<Uri>
@{
    View.Title = "Great Wall of Geeks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AdditionalScripts{
<script type="text/javascript" language="javascript">
        $().ready(function () {
            @foreach (var item in Model)
            {   
                 
                <text>queryFeed('@item.AbsoluteUri', '@Guid.NewGuid()');</text>
            }
            
        });

       var columnNum = 1;

        queryFeed = function(uri, guid){
             var e = $('<li id="'+ guid +'"><div class="feed"><img class="loader" src="@Url.Content("~/Content/img/ajax-loader.gif")"/></div></li>');

             $('#column' + columnNum + ' ul').append(e);
             if(columnNum == 3){
                columnNum = 1;
             }
             else{

                columnNum++;

             }

             $.ajax({
                type: 'GET',
                url: 'Feed/Feed?feeduri='+ uri +'&itemCount=3',
                dataType: 'json',
                success: function(data){
                    $('div',e).append('<h3><a href="' + data.FeedLink + '">' + data.FeedTitle + '</a></h3><ul class="feeditemlist"></ul>');

                    $.each(data.Items, function(index, item){
                        $('.feeditemlist', e).append('<li><a href="'+ item.ItemUri +'">'+ item.ItemTitle +'</a></li>');
                    });

                    $('.loader', e).remove();

                },
                error: function(XmlHttpRequest, status){
                    $('#' + guid).remove();
                },
                timeout:15000
            });
        };


</script>
}
<div>
    <div id="feedarea" class="feedcontainer">
        <div id="column1">
            <ul></ul>
        </div>
        <div id="column2">
            <ul></ul>
        </div>
        <div id="column3">
            <ul></ul>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
